<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Legs or Sausages</title>
<!--     <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app_jquery.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </head>
<body>
  <h1 class="title">Legs or sausages?</h1>

  <div id="container">
    <div class="frame" style="display: block;"><div class="pictures"  style="display: block; background-image: url(http://blogs.ocweekly.com/stickaforkinit/hot-dog-legs-2.jpg)"></div></div>
    <div class="frame"><div class="pictures" style="display: block; background-image: url(http://i8.cdnds.net/13/34/450x450/tumblr_mrfiwmaqqj1sftuuto1_500.jpg)"></div></div>
    <div class="frame"><div class="pictures" style="display: block; background-image: url(https://40.media.tumblr.com/9441faef3cd5be727c2bc189255975df/tumblr_nkj4a1epoC1rzg2epo1_500.jpg)"></div></div>
    </div>
  </div>
</body>

  </html>