<!doctype html>
<html lang="en" ng-app="LegsorSausages">
  <head>
    <meta charset="utf-8">
    <title>Legs or Sausages</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/app1.js"></script>
    <script src="/js/app_jquery.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>


    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </head>
<body ng-controller="legsOrSausagesController">
  <nav class="" role="navigation">
    <div class="container">

      <div class="nav-wrapper"><a id="logo-container" class="brand-logo">legs or sausages?</a>
      </div>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
  <div id="container">

  <h3>Makerthon!</h3>

  <div id="score" ng-show="final == 1">Score: {{score}}</div>
  <div id="answercolor">
  <div id="correct" ng-show="answer == 0"><p id="correctanswer">CORRECT</p></div>
  <div id="incorrect" ng-show="answer == 1"><p id="incorrectanswer">INCORRECT</p></div>
  </div>

  <div id="phone">
    <div id="frame">
  <img id="main_photo" ng-show="view == 0" src="{{showPhoto()}}" height="250" width="250">
  <div id="final_score" ng-show="view == 1">Your final score is:
  <br>
  <h1 align="center">{{score}}</h1>
  </div>
    <div id="sausagecirclecircle">
      <div id="sausagecircle">
        <img id="sausage_vote" src="http://www.clipartbest.com/cliparts/yco/KbB/ycoKbBdcE.png" width="60" height="60" ng-click="sausage()"/>
      </div>
    </div>
    </div>
      <div id="legscirclecircle">
  <div id="legcircle">
  <img id="legs_vote" src="http://i.imgur.com/x2Gs8Jz.png" width="60" height="60" ng-click="legs()"/>
  </div>
  </div>
  </div>

  </div>
  </div>
  <button id="phone::after" ng-click="reset()"></button>
  </div><br><br><br><br>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Team Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of web development students working on this project like it's our full time job. Any amount of money given would help support, continue development and is greatly appreciated.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made for <a class="orange-text text-lighten-3" href="http://makersacademy.com">Makers Academy</a>
      </div>
    </div>


  </footer>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>


  </html>