@font-face {
  font-family: tinderfont;
  src: url(tinder.ttf);
}
.brand-logo {
  font-family: tinderfont;
}

h3 {
  font-family: tinderfont;
  text-align: center;
}


#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
}
#main_photo{
  position: absolute;
  top:30px;
  left: 40px;
  width: 230px;
  height: 270px;
  border-radius: 10px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

#final_score{
  position: absolute;
  top: 90px;
  left: 50px;
  font-family: tinderfont;
  font-size: 25px;
  color: #ee6e73
}

#frame{
  position: absolute;
  top: 60px;
  left: 5px;
  background-color: silver;
  width: 310px;
  height: 420px;
}

#answercolor{
  position: absolute;
  left: -200px;
  top: 40px;
}

#correctanswer{
  color: green;
  font-family: tinderfont;
  font-size: 36px;
}

#incorrectanswer{
  color: red;
  font-family: tinderfont;
  font-size: 36px;
}

#score{
  position: absolute;
  font-family: tinderfont;
  font-size: 36px;
  left: 120%;
}

#sausage_vote{
  position: absolute;
}

#sausagecircle{
  position: absolute;;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-left: 8px;
  margin-top: 8px;
  background-color:  #d3d3d3;
}

#sausagecirclecircle{
  position: absolute;
  top: 320px;
  left: 190px;
  border-radius: 50%;
  background-color: #dfdfdf;
  height: 80px;
  width: 80px;
  }

#legs_vote{
  margin-left: 6.5px;
  margin-bottom: 10px;
}

#legcircle{
  position: absolute;;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  margin-left: 8px;
  margin-top: 8px;
  background-color:  #d3d3d3;
}

#legscirclecircle{
  top: 380px;
  position: absolute;
  left: 45px;
  border-radius: 50%;
  background-color: #dfdfdf;
  height: 80px;
  width: 80px;
  }

#phone {
    background: none repeat scroll 0 0 #dfdfdf;
    border-radius: 25px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 560px;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width: 320px;

}
#phone::before, #phone::after {
    background: none repeat scroll 0 0 #d3d3d3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 1px 1px rgba(255, 255, 255, 0.25);
    content: "";
    display: block;
    position: absolute;
}
#phone::after {
    border-radius: 50%;
    bottom: 15px;
    height: 40px;
    left: calc(50% - 20px);
    width: 40px;
}
#phone::before {
    border-radius: 10px;
    height: 10px;
    left: calc(50% - 20px);
    top: 30px;
    width: 50px;
}
#paypal {
  position: absolute;
  margin-top: 50px;
  margin-left: 40px;
}
.block {
  padding: 10px;

  border: 1px solid black;

  font-family: Helvetica;
}